{{ define "main" -}}
<div class="col-md-12">
    <div class="page">
	
    	<div class="page-title">
    		{{ .Title }}
    		<div class="meta">    		
				
                By <a href="{{ $.Site.BaseURL }}about/" rel="author">{{ .Site.Params.author }}</a>,             
    			<time class="timeago" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>,
    			<a href="{{ .Permalink }}#comments">
                评论</a><i class="iconfont icon-comment"></i>
				
				<p> 
                {{ range .Params.tags }}
					 <a  href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">
					   <i class="iconfont icon-Tag"></i>{{- . -}}&nbsp;
					 </a>
				{{ end }}
				</p>			
    		</div>
			
    	</div>
        <div class="page-content">
            {{ .Content }}
            <!-- Share & Comments -->
           {{ partial "share.html" . }}           
        </div>
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/markdown.css">
		{{ partial "highlight.html" . }}
		{{ partial "comment.html" . }}
    </div>
</div>

{{- end }}
