<link href="//cdn.staticfile.org/prism/1.15.0/themes/prism-dark.min.css" type="text/css" rel="stylesheet" />
<script src="//cdn.staticfile.org/prism/1.15.0/prism.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-markup-templating.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-markup.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-bash.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-ini.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-javascript.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-c.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-cpp.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-csharp.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-python.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-apacheconf.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-php.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-powershell.min.js" type="application/javascript"></script>
<script src="//cdn.staticfile.org/prism/1.15.0/components/prism-nginx.min.js" type="application/javascript"></script>
