<script>
    $(document).ready(function() {
    var timer;

    $(window).bind('scroll', (function() {
        clearTimeout(timer);
        timer = setTimeout(getPercent, 5);
        isTop();
    }));

    $(".goto-top-link").click(function(){
        event.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    });
});

function scrollPossition() {
    return ($(window).scrollTop() / ($(document).height() - $(window).height())) * 100;
}

function getPercent() {
    $(".statusbar").css("width", String(scrollPossition()) + "%");

    if (scrollPossition() > 97) {
        $(".statusbar").css("background-color", "#1ca265");
    } else {
        $(".statusbar").css("background-color", "#eb5e29");
    }
    return;
}

function isTop() {
  if(scrollPossition() > 30)
    $(".goto-top").fadeIn("slow");
  else
    $(".goto-top").fadeOut("slow");
}
          $(document).ready(function() {
    $('.menu-btn').click(function() {
        $('.row-offcanvas').toggleClass('active');
    });
    $('.close-btn').click(function() {
        $('.row-offcanvas').toggleClass('active');
    });
});
          jQuery(document).ready(function() {
    jQuery("time.timeago").timeago();
});

</script>

<script>
$(document).ready(function() {
    $(".page").children().first().find(".page-item-body").css( "display", "block" );
    $(".page").children().first().find(".pib-indicator")
        .find("i").toggleClass("iconfont icon-shrink").toggleClass("iconfont icon-expand");

    $(".page-item .pib-indicator").click(function() {
        var preview = $(this);
        preview.find("i").toggleClass("iconfont icon-expand").toggleClass("iconfont icon-shrink");
        $(this).closest(".page-item").find(".page-item-body").toggle("fast", function() {});
    });
});
</script>
