<script>
 timeago().render(document.getElementsByClassName('timeago'),'zh_CN');
</script>
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    document.getElementsByClassName('menu-btn')[0].addEventListener("click", function() {
		document.getElementsByClassName('row-offcanvas')[0].classList.toggle('active');
	});
    document.getElementsByClassName('close-btn')[0].addEventListener("click", function() {
		document.getElementsByClassName('row-offcanvas')[0].classList.toggle('active');
	});
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  var timer;
	window.addEventListener("scroll",function(){
		clearTimeout(timer);
		timer = setTimeout(getPercent, 5);
		isTop();
	});
	document.getElementsByClassName('goto-top')[0].addEventListener("click", function() {
		window.scrollTo(0, 0);
	});
});

function scrollPossition() {
	var window_scrollTop =   (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
    const body = document.body;
	const html = document.documentElement;
	var document_height = Math.max(
	  body.offsetHeight,
	  body.scrollHeight,
	  html.clientHeight,
	  html.offsetHeight,
	  html.scrollHeight
	);
	var window_height = window.innerHeight;
	return ( window_scrollTop / ( document_height - window_height )) * 100;
}

function getPercent() {
	document.getElementsByClassName('statusbar')[0].style.width = String(scrollPossition()) + "%";
    if (scrollPossition() > 97) {
        document.getElementsByClassName('statusbar')[0].style.background = "#1ca265" ;	
    } else {
        document.getElementsByClassName('statusbar')[0].style.background = "#eb5e29" ;
    }
    return;
}

function isTop() {
  if(scrollPossition() > 30) {
    document.getElementsByClassName('goto-top')[0].style.transition = 'opacity 3s';
	document.getElementsByClassName('goto-top')[0].style.opacity = '1';
  }else{
    document.getElementsByClassName('goto-top')[0].style.transition = 'opacity 3s';
	document.getElementsByClassName('goto-top')[0].style.opacity = '0';
  }
}
</script>




