<nav class="top">
	<a href="{{ $.Site.BaseURL }}">{{ .Site.Params.description }} &mdash; {{ .Site.Title }}</a>
	<span class="float-right">
		<a id="weibo-ic" class="link" href="http://weibo.com/xlon">
			<i class="iconfont icon-weibo" aria-hidden="true"></i>
		</a>
		<a id="git-ic" class="link" href="https://github.com/hiplon">
			<i class="iconfont icon-github"></i>
		</a>
		<a id="rss-ic" class="link" href="https://ppuu.org/feed.xml">
			<i class="iconfont icon-feed"></i>
		</a>
	</span>
</nav>